@page


<div class="container mt-5">

    <h2 class="text-center bg-lilas-claro text-white p-3 rounded mb-4">
        👜 Bolsas
    </h2>

    <div class="row">

        <!-- Bolsa 1 -->
        <div class="col-md-6 col-lg mb-4">
            <div class="card h-100 shadow">

                <img src="https://thf.bing.com/th/id/OPHS.Pc4cqwE2HTkRCQ474C474?w=592&h=550&o=5&dpr=1.3&pid=21.1" class="card-img-top" alt="Bolsa Feminina">

                <div class="card-body text-center">

                    <h5 class="card-title">Bolsa Feminina </h5>

                    <p class="texto-lilas-claro fw-bold fs-5">
                        R$ 133,35
                    </p>

                    <button class="btn bg-lilas-claro w-100">
                        Comprar
                    </button>

                </div>

            </div>
        </div>

        <!-- Bolsa 2 -->
        <div class="col-md-6 col-lg mb-4">
            <div class="card h-100 shadow">

                <img src="https://m.media-amazon.com/images/I/51UPn2Nxz4L._AC_SX569_.jpg" class="card-img-top" alt="Bolsa Casual">

                <div class="card-body text-center">

                    <h5 class="card-title">Bolsa Casual</h5>

                    <p class="texto-lilas-claro fw-bold fs-5">
                        R$ 121,34
                    </p>

                    <button class="btn bg-lilas-claro w-100">
                        Comprar
                    </button>

                </div>

            </div>
        </div>

        <!-- Bolsa 3 -->
        <div class="col-md-6 col-lg mb-4">
            <div class="card h-100 shadow">

                <img src="https://m.media-amazon.com/images/I/61meubOtEKL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top" alt="Bolsa Executiva">

                <div class="card-body text-center">

                    <h5 class="card-title">Bolsa Executiva </h5>

                    <p class="texto-lilas-claro fw-bold fs-5">
                        R$ 175,90
                    </p>

                    <button class="btn bg-lilas-claro w-100">
                        Comprar
                    </button>

                </div>

            </div>
        </div>

        <!-- Bolsa 4 -->
        <div class="col-md-6 col-lg mb-4">
            <div class="card h-100 shadow">

                <img src="https://m.media-amazon.com/images/I/51lvRJoyU0L._AC_SX569_.jpg" class="card-img-top" alt="Bolsa Festa">

                <div class="card-body text-center">

                    <h5 class="card-title">Bolsa Festa</h5>

                    <p class="texto-lilas-claro fw-bold fs-5">
                        R$ 89,90
                    </p>

                    <button class="btn bg-lilas-claro w-100">
                        Comprar
                    </button>

                </div>

            </div>
        </div>

        <!-- Bolsa 5 -->
        <div class="col-md-6 col-lg mb-4">
            <div class="card h-100 shadow">

                <img src="https://m.media-amazon.com/images/I/51gPhfBsfwL._AC_SX522_.jpg" class="card-img-top" alt="Mochila Feminina">

                <div class="card-body text-center">

                    <h5 class="card-title">Mochila Masculina</h5>

                    <p class="texto-lilas-claro fw-bold fs-5">
                        R$ 179,90
                    </p>

                    <button class="btn bg-lilas-claro w-100">
                        Comprar
                    </button>

                </div>

            </div>
        </div>

    </div>

</div>