@page

<div class="container mt-5">

    <h2 class="text-center bg-laranja-queimado text-white p-3 rounded mb-4">
        👞 Calçados e Cintos
    </h2>

    <div class="row">

        <!-- Produto 1 -->
        <div class="col-md-6 col-lg mb-4">
            <div class="card h-100 shadow">

                <img src="https://cdn.shoppub.io/cdn-cgi/image/w=1000,h=1000,q=80,f=auto/difranca/media/uploads/produtos/foto/muhlggoj/51601-boca-mour-capa.jpg" class="card-img-top" alt="Sapato Social">

                <div class="card-body text-center">

                    <h5 class="card-title">Sapato S. Masculino </h5>

                    <p class="texto-laranja-queimado fw-bold fs-5">
                        R$ 315,12
                    </p>

                    <button class="btn bg-laranja-queimado w-100">
                        Comprar
                    </button>

                </div>

            </div>
        </div>

        <!-- Produto 2 -->
        <div class="col-md-6 col-lg mb-4">
            <div class="card h-100 shadow">

                <img src="https://cdn.shoppub.io/cdn-cgi/image/w=1000,h=1000,q=80,f=auto/difranca/media/uploads/produtos/foto/acmzqthe/cinto-masculino-em-couro-naturali-sport-elegance-casual-la-couro-041-cafe-enrolado.jpg" class="card-img-top" alt="Cinto Masculino">

                <div class="card-body text-center">

                    <h5 class="card-title"> Cinto Masculino </h5>

                    <p class="texto-laranja-queimado fw-bold fs-5">
                        R$ 146,32
                    </p>

                    <button class="btn bg-laranja-queimado w-100">
                        Comprar
                    </button>

                </div>

            </div>
        </div>

        <!-- Produto 3 -->
        <div class="col-md-6 col-lg mb-4">
            <div class="card h-100 shadow">

                <img src="https://m.media-amazon.com/images/I/5135a7NFHBL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top" alt="Sandália">

                <div class="card-body text-center">

                    <h5 class="card-title">Sandália Feminina</h5>

                    <p class="texto-laranja-queimado fw-bold fs-5">
                        R$ 149,90
                    </p>

                    <button class="btn bg-laranja-queimado  w-100">
                        Comprar
                    </button>

                </div>

            </div>
        </div>

        <!-- Produto 4 -->
        <div class="col-md-6 col-lg mb-4">
            <div class="card h-100 shadow">

                <img src="https://m.media-amazon.com/images/I/51CDnnoJOlL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top" alt="Cinto Masculino">

                <div class="card-body text-center">

                    <h5 class="card-title"> Bota Feminina </h5>

                    <p class="texto-laranja-queimado fw-bold fs-5">
                        R$ 244,22
                    </p>

                    <button class="btn bg-laranja-queimado  w-100">
                        Comprar
                    </button>

                </div>

            </div>
        </div>

        <!-- Produto 5 -->
        <div class="col-md-6 col-lg mb-4">
            <div class="card h-100 shadow">

                <img src="https://img.irroba.com.br/fit-in/800x800/filters:format(webp):fill(fff):quality(80)/lojalaro/catalog/produtos/acessorios/02500-3283-cinto-infantil/cinto-infantil-dupla-face-02500-3283-01.jpg" class="card-img-top" alt="Cinto Feminino">

                <div class="card-body text-center">

                    <h5 class="card-title">Cinto Infantil</h5>

                    <p class="texto-laranja-queimado fw-bold fs-5">
                        R$ 59,90
                    </p>

                    <button class="btn bg-laranja-queimado  w-100">
                        Comprar
                    </button>

                </div>

            </div>
        </div>

    </div>

</div>