@page
@model LojaDepCrud.Pages.ExcluirProdutosModel


<div class="container mt-5">
    <h1 class="text-danger mb-4"> Excluir Seleção </h1>


    <div class="alert alert-danger"> Tem certeza que deseja excluir esta seleção? </div>


    <form method="post">
        <input asp-for="Produtos.Id" type="hidden">


        <div class="mb-3">
            <label class="form-label"> Nome </label>
            <input asp-for="Produtos.Nome" class="form-control" readonly>
        </div>


        <div class="mb-3">
            <label class="form-label"> Categoria </label>
            <input asp-for="Produtos.Categoria" class="form-control" readonly>
        </div>


        <div class="mb-3">
            <label class="form-label"> Tamanho </label>
            <input asp-for="Produtos.Tamanho" class="form-control" readonly>
        </div>


        <div class="mb-3">
            <label class="form-label"> Preço </label>
            <input asp-for="Produtos.Preco" class="form-control" readonly>
        </div>

        <div class="mb-3">
            <label class="form-label"> Estoque </label>
            <input asp-for="Produtos.Estoque" class="form-control" readonly>
        </div>


        <button class="btn btn-danger"> Confirmar Exclusão </button>


        <a href="/Selecoes" class="btn btn-secondary"> Cancelar </a>
    </form>
</div>


