@page

<section class="container mt-5">

    <h2 class="text-center bg-dark text-white p-3 rounded shadow mb-4">
        🆕 Novidades
    </h2>

    <div class="row g-4">

        <!-- 1 -->
<div class="col-md-6 col-lg-3">
    <div class="card h-100 shadow">
        <img src="https://m.media-amazon.com/images/I/51o1SuNGsYL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5>Vestido Floral</h5>
            <p class="text-dark fw-bold">R$ 95,90</p>
            <button class="btn btn-dark text-white w-100">Comprar</button>
        </div>
    </div>
</div>

<!-- 2 -->
<div class="col-md-6 col-lg-3">
    <div class="card h-100 shadow">
        <img src="https://m.media-amazon.com/images/I/51SjoTBQnmL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5>Blusa Feminina</h5>
            <p class="text-dark fw-bold">R$ 68,99</p>
            <button class="btn btn-dark text-white w-100">Comprar</button>
        </div>
    </div>
</div>

<!-- 3 -->
<div class="col-md-6 col-lg-3">
    <div class="card h-100 shadow">
        <img src="https://m.media-amazon.com/images/I/81qZSz3wVwL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5>Camisa Social</h5>
            <p class="text-dark fw-bold">R$ 76,90</p>
            <button class="btn btn-dark text-white w-100">Comprar</button>
        </div>
    </div>
</div>

<!-- 4 -->
<div class="col-md-6 col-lg-3">
    <div class="card h-100 shadow">
        <img src="https://m.media-amazon.com/images/I/71oc9FZcu9L._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5>Camiseta Premium</h5>
            <p class="text-dark fw-bold">R$ 99,90</p>
            <button class="btn btn-dark text-white w-100">Comprar</button>
        </div>
    </div>
</div>

<!-- 5 -->
<div class="col-md-6 col-lg-3">
    <div class="card h-100 shadow">
        <img src="https://m.media-amazon.com/images/I/71EjrZZF7VL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5>Jaqueta Jeans</h5>
            <p class="text-dark fw-bold">R$ 312,18 </p>
            <button class="btn btn-dark text-white w-100">Comprar</button>
        </div>
    </div>
</div>

<!-- 6 -->
<div class="col-md-6 col-lg-3">
    <div class="card h-100 shadow">
        <img src="https://m.media-amazon.com/images/I/51Fgi3Ar4yL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5>Conjunto Termico Infantil</h5>
            <p class="text-dark fw-bold">R$ 89,99</p>
            <button class="btn btn-info text-white w-100">Comprar</button>
        </div>
    </div>
</div>

<!-- 7 -->
<div class="col-md-6 col-lg-3">
    <div class="card h-100 shadow">
        <img src="https://m.media-amazon.com/images/I/617BcXXNmdL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5>Conjunto Infantil</h5>
            <p class="text-success fw-bold">R$ 128,90</p>
            <button class="btn btn-dark text-white w-100">Comprar</button>
        </div>
    </div>
</div>

<!-- 8 -->
<div class="col-md-6 col-lg-3">
    <div class="card h-100 shadow">
        <img src="https://m.media-amazon.com/images/I/51DP+gSgcmL._AC_SX569_.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5>Bolsa Feminina</h5>
            <p class="text-dark fw-bold">R$ 149,90</p>
            <button class="btn btn-dark text-white w-100">Comprar</button>
        </div>
    </div>
</div>

<!-- 9 -->
<div class="col-md-6 col-lg-3">
    <div class="card h-100 shadow">
        <img src="https://m.media-amazon.com/images/I/51p8baaH-ML._AC_SY550_.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5>Mochila Infantil </h5>
            <p class="text-dark fw-bold">R$ 119,90</p>
            <button class="btn btn-dark text-white w-100">Comprar</button>
        </div>
    </div>
</div>

<!-- 10 -->
<div class="col-md-6 col-lg-3">
    <div class="card h-100 shadow">
        <img src="https://m.media-amazon.com/images/I/51Tqo17b4GL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5>Sapato Social</h5>
            <p class="text-dark fw-bold">R$ 72,89 </p>
            <button class="btn btn-dark text-white w-100">Comprar</button>
        </div>
    </div>
</div>

<!-- 11 -->
<div class="col-md-6 col-lg-3">
    <div class="card h-100 shadow">
        <img src="https://m.media-amazon.com/images/I/516PZlRa5xL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5>Tênis Denim Casual </h5>
            <p class="text-dark fw-bold">R$ 286,90</p>
            <button class="btn btn-dark text-white w-100">Comprar</button>
        </div>
    </div>
</div>

<!-- 12 -->
<div class="col-md-6 col-lg-3">
    <div class="card h-100 shadow">
        <img src="https://m.media-amazon.com/images/I/51w6fuU3owL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5>Sandália Feminina</h5>
            <p class="text-dark fw-bold">R$ 79,90</p>
            <button class="btn btn-dark text-white w-100">Comprar</button>
        </div>
    </div>
</div>

<!-- 13 -->
<div class="col-md-6 col-lg-3">
    <div class="card h-100 shadow">
        <img src="https://m.media-amazon.com/images/I/71aHzk60FNL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5>Cinto Masculino</h5>
            <p class="text- dark fw-bold">R$ 82,38</p>
            <button class="btn btn-dark text-white w-100">Comprar</button>
        </div>
    </div>
</div>

<!-- 14 -->
<div class="col-md-6 col-lg-3">
    <div class="card h-100 shadow">
        <img src="https://m.media-amazon.com/images/I/7122aMHI86L._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5>Cinto Feminino</h5>
            <p class="text-dark fw-bold">R$ 79,89</p>
            <button class="btn btn-dark text-white w-100">Comprar</button>
        </div>
    </div>
</div>

<!-- 15 -->
<div class="col-md-6 col-lg-3">
    <div class="card h-100 shadow">
        <img src="https://m.media-amazon.com/images/I/81urxYZTsQL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top">
        <div class="card-body text-center">
            <h5>Relógio Unissex  Esportivo</h5>
            <p class="text-dark fw-bold">R$ 169,51</p>
            <button class="btn btn-dark text-white w-100">Comprar</button>
        </div>
    </div>
</div>

</div>
</section>