@page


<div class="container mt-5">

    <h2 class="text-center bg-dark text-white p-3 rounded mb-4">
        🔥 OUTLET
    </h2>

    <div class="row">

        <!-- Produto 1 -->
        <div class="col-lg mb-4">

            <div class="card h-100 shadow">

                <img src="https://static.riachuelo.com.br/RCHLO/KIT963547/portrait/58a44f555defd2a55321351ce6521d692806dd60.jpg?imwidth=400"
                     class="card-img-top"
                     alt="Camisa">

                <div class="card-body text-center">

                    <h5>Camisa Masculina</h5>

                    <p class="text-dark fw-bold fs-5">
                        R$ 49,90
                    </p>

                    <button class="btn btn-dark w-100">
                        Comprar
                    </button>

                </div>

            </div>

        </div>

        <!-- Produto 2 -->
        <div class="col-lg mb-4">

            <div class="card h-100 shadow">

                <img src="https://static.riachuelo.com.br/RCHLO/16392698004/portrait/b13dd1c5d8644e5bb5c3bf0b70deb5496ab78c0f.jpg?imwidth=400"
                     class="card-img-top"
                     alt="Tênis">

                <div class="card-body text-center">

                    <h5>Tênis Esportivo</h5>

                    <p class="text-dark fw-bold fs-5">
                        R$ 119,90
                    </p>

                    <button class="btn btn-dark w-100">
                        Comprar
                    </button>

                </div>

            </div>

        </div>

        <!-- Produto 3 -->
        <div class="col-lg mb-4">

            <div class="card h-100 shadow">

                <img src="https://static.riachuelo.com.br/RCHLO/KIT971982/portrait/b373f1dd32eff9e6abf42c7ae6457455ddefa992.jpg?imwidth=400"
                     class="card-img-top"
                     alt="Bolsa">

                <div class="card-body text-center">

                    <h5>Bolsa Feminina</h5>

                    <p class="text-dark fw-bold fs-5">
                        R$ 99,90
                    </p>

                    <button class="btn btn-dark w-100">
                        Comprar
                    </button>

                </div>

            </div>

        </div>

        <!-- Produto 4 -->
        <div class="col-lg mb-4">

            <div class="card h-100 shadow">

                <img src="https://static.riachuelo.com.br/RCHLO/16088247/portrait/71805641851b83eb333f1336df01810fcffc6d9f.jpg?imwidth=400"
                     class="card-img-top"
                     alt="Relógio">

                <div class="card-body text-center">

                    <h5>Relógio</h5>

                    <p class="text-dark fw-bold fs-5">
                        R$ 89,90
                    </p>

                    <button class="btn btn-dark w-100">
                        Comprar
                    </button>

                </div>

            </div>

        </div>

        <!-- Produto 5 -->
        <div class="col-lg mb-4">

            <div class="card h-100 shadow">

                <img src="https://static.riachuelo.com.br/RCHLO/15600173001/portrait/c9c5cf89e29c7cf19373f227cd8b2a25caa99ba7.jpg?imwidth=400"
                     class="card-img-top"
                     alt="Jaqueta">

                <div class="card-body text-center">

                    <h5> suéter masculino </h5>

                    <p class="text-dark fw-bold fs-5">
                        R$ 179,90
                    </p>

                    <button class="btn btn-dark w-100">
                        Comprar
                    </button>

                </div>

            </div>

        </div>

    </div>

</div>